<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <%- include('head') %>



<ul class="mainfeatures">
  <li ><a href="sender" id="blue">Send Now</a></li>
  <li ><a href="receiver" id="black">Receive Now</a></li>
 
</ul>





<div class="container">

    <div class="left-content">
      <div class="heading">Seamless P2P Sharing</div>
      <p>Our peer-to-peer file sharing system, built on Node.js, revolutionizes the way users share files. Leveraging the power of direct connections between users, our application enables seamless and secure file transfers without relying on central servers. With a user-friendly interface, intuitive file browsing, and efficient search capabilities, our platform empowers users to effortlessly exchange files, fostering a truly decentralized and efficient sharing ecosystem.</p></div>
    
    
      <div class="right-content">
      <img src="/img/image.png" alt="Image">
    </div>

  </div> 



 

    
    
    
      

 


  <div class="container">


    <div class="right-content">
      <img src="/img/image2.jpg" alt="Image">
    </div>

    <div class="left-content">
      <div class="heading">No Login Hassles</div>
      <p>We understand the importance of simplicity and efficiency when it comes to file sharing. That's why BitSync eliminates the need for any cumbersome login or account creation processes. With BitSync, you can start sharing files instantly, without the hassle of remembering usernames and passwords. Say goodbye to unnecessary sign-ups and enjoy hassle-free file sharing at its best.</p></div>
    
    
      

  </div>


  <div class="container">

    <div class="left-content">
      <div class="heading">User-Friendly Interface</div>
      <p>Our intuitive and user-friendly interface makes file sharing a breeze. With just a few clicks, you can select files, initiate transfers, and monitor progress in real-time. Say goodbye to complex setup processes and enjoy a seamless sharing experience.</p></div>
    
    
      <div class="right-content">
      <img src="/img/image3.jpg" alt="Image">
    </div>

  </div>








  <div class="footer">


    <div class="info">@2023 BitSync. All rights reserved.</div>
  
    <ul class="footer-menu">
      <li><a href="#">Terms Of Service</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  
  
  </div>
  
  
<script src="bitsync.js"></script>
</body>
</html>