<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="icon" type="image/x-icon" href="/img/fav.ico">
</head>
<body>
  
  <%- include('head') %>


  <div class="about-main-heading">
    <div>About</div>
  </div>

  <div class="about-container">

    <div class="about-left-content">
      <div class="about-heading">Peer-To-Peer,<br>File Sharing,<br>Seemlessly.</div>
      <p id="about-p">Welcome to BitSync, a peer to peer file sharing web app designed to make file sharing seemless and secure.</p>
      <p id="about-p" class="about-p-2">The power of Socket.io, Node JS to connect users in real time allowing them to effortlessly share files.</p>
    </div>
    
    
    <div class="about-right-content">
      <img id="about-device-pic"src="/img/DEVICE_PICS.png" alt="Image">
    </div>

  </div> 



  <div class="team">

    <div class="meet-our-team">
        Meet Our Team
    </div>

    <div class="team-members">

        <div class="member">
            <img src="/img/ankit.png" alt="">
            <div class="name">Ankit</div>
        </div>

        <div class="member">
            <img src="/img/divya.png" alt="">
            <div class="name">Divya</div>
        </div>

        <div class="member">
            <img src="/img/keshav.png" alt="">
            <div class="name">Keshav</div>
        </div>

    </div>

  </div>



  <div class="footer">


    <div class="info">@2023 BitSync. All rights reserved.</div>
  
    <ul class="footer-menu">
      <li><a href="#">Terms Of Service</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  
  
  </div>
  
  
<script src="bitsync.js"></script>
</body>
</html>