<link rel="stylesheet" href="/css/main.css">
<img src="/img/ham.png" id="menu-icon" alt="" onclick="sidenav()">
<nav class="BSnavbar">

  <div class="BSlogo">Bit<span id="dif">S</span>ync </div>

  <ul class="BSnavbar-menu">
    <li><a href="index">HOME</a></li>
    <li><a href="about">ABOUT</a></li>
    <li><a href="#">FEATURES</a></li>
    <li><a href="#">CONTACT</a></li>
  </ul>

</nav>


<div id="mySidenav" class="sidenav">
  <div class="BSidelogo">Bit<span id="dif">S</span>ync </div>
  <a href="#" class="closebtn">✖</a>
  <a href="index" id="blueli">Home</a>
  <a href="about" id="blueli">About</a>
  <a href="#" id="blueli">Features</a>
  <a href="#" id="blueli">Contact</a>
</div>

<script src="/script/bitsync.js"></script>