<link rel="stylesheet" href="/css/main.css">
<img src="/img/ham.png" id="menu-icon" alt="" onclick="sidenav()">
<!-- <script src="/script/bitsync.js"></script> -->
<nav class="BSnavbar">

  <a href="index" id="ref-logo"><div class="BSlogo">Bit<span id="dif">S</span>ync </div></a>

  <ul class="BSnavbar-menu">
    <li><a href="index">HOME</a></li>
    <li><a href="about">ABOUT</a></li>
    <li><a href="features">FEATURES</a></li>
    <li>
      <label class="switch" onchange="toggleDarkMode()">
        <input type="checkbox" id="toggleSwitch">
        <span class="slider round"></span>
      </label>
    </li>
  </ul>

</nav>


<div id="mySidenav" class="sidenav">
  <a href="index" id="ref-side-logo"><div class="BSidelogo">Bit<span id="dif">S</span>ync </div></a>

  <a href="#" class="closebtn" id="close-btn">✖</a>
  <a href="index" id="blueli">Home</a>
  <a href="about" id="blueli">About</a>
  <a href="features" id="blueli">Features</a>
  <a href="#" id="blueli">Contact</a>
</div>

<script src="/script/bitsync.js"></script>