<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/img/fav.ico">
  <title>BitSync</title>
</head>

<body>

  <%- include('head') %>

  <!-- /////////////////////////////////////////////////////////////////////////////////////////////// -->

  <div class="main">

    <div class="heading">Peer to Peer File Sharing Made Easy</div>

    <div class="subheading">Share and Synchronize files effortlessly with BitSync. No Login Required. Hassle free and
      secure.</div>

    <ul class="mainfeatures">
      <li><a href="sender" id="blue">I'm a Sender</a></li>
      <li><a href="receiver" id="black">I'm a Receiver</a></li>

    </ul>

    <div class="main-img">
      <img src="/img/image.PNG" alt="image">
    </div>



  </div>



  <div class="footer">


    <div class="info">@2023 BitSync. All rights reserved.</div>

    <ul class="footer-menu">
      <li><a href="#">Terms Of Service</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>

  </div>

</body>

</html>