body {
    margin: 0rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 90vh;
}


/* BSNAVBAR  START////////////////////////////////////////////////////////////////////// */
.BSnavbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#ref-logo{
    text-decoration: none;
    color:black;
    text-decoration-style: none;
}

#ref-side-logo{
    text-decoration: none;
    color:black;
    text-decoration-style: none;
    padding-left: 1.5rem;
}

#menu-icon {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
}

.BSlogo {

    margin-left: 2.5rem;
    font-weight: bolder;
    font-size: 2rem;
    z-index: 2;
    font-family: "Segoe UI", Arial, sans-serif;
    opacity: 0.9;
}


#dif {
    color: rgba(13, 113, 221, 0.858);

}

.BSnavbar-menu {

    margin-right: 2.5rem;
}

.BSnavbar-menu li {
    display: inline-block;
    margin-left: 1rem;
}

.BSnavbar-menu li a {
    text-decoration: none;
    opacity: 0.9;
    color: #333;

    font-weight: bold;
    padding: 0.4rem;
    font-family: "Segoe UI", Arial, sans-serif;
}


.BSnavbar-menu li a:hover {
    background-color: rgba(13, 113, 221, 0.858);
    color: white;
    /* padding:5px; */
    border-radius: 5px;
}

/* BSNAVBAR  END ////////////////////////////////////////////////////////////////////// */


/* SIDENAV BAR //////////////////////////////////////////////////////////////////////////////////// */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 50px;
    font-family: "Segoe UI", Arial, sans-serif;
    /* border: 2px solid rgb(120, 107, 107); */
}

.sidenav a {
    padding: 18px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #333;
    display: block;
    transition: 0.3s;
}

#blueli:hover {
    background-color: rgba(13, 113, 221, 0.858);
    color: white;
    font-weight: bold;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    margin-left: 50px;

}


.BSidelogo {

    margin:0rem;
    padding-left: 0rem;
    margin-bottom:1rem;
    font-weight: bolder;
    font-size: 2rem;
    z-index: 2;
    font-family: "Segoe UI", Arial, sans-serif;
    opacity: 0.9;
}



/* SIDENAv BAR END////////////////////////////////////////////////////////////////////// */



/* index  page  start/////////////////////////////////////////////////////////////////////// */
.main {
    margin-top: 4rem;
    margin-left: 7rem;
    margin-right: 7rem;
    text-align: center;
    min-height: 90vh;

}

.heading {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Segoe UI", Arial, sans-serif;
    opacity: 0.8;
}

.subheading {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-family: "Segoe UI", Arial, sans-serif;
    opacity: 0.7;
}


.mainfeatures {
    margin-top: 2rem;
    margin-bottom: 0rem;
    text-align: center;
}

.mainfeatures li {
    margin-left: 15px;
    /* padding: 12px; */
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.mainfeatures li a {
    text-decoration: none;
    color: #333;
    padding: 12px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgb(110, 109, 109);
}

#blue {
    background-color: rgba(13, 113, 221, 0.858);
    color: white;
}


#black {
    background-color: rgb(15, 15, 19);
    color: white;
}

.main-img img {
    margin-top: 1rem;
    height: 16rem;
    width: 25rem;
    filter: drop-shadow(10px 12px 12px rgb(6, 6, 6));
    object-fit: cover;
}



.footer {
    background-color: #3a3a3a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 12px;
    padding-left: 12px;
    padding-top: 0px;
    position: sticky;
    bottom: 0;
}

.footer-menu li {
    display: inline-block;
    list-style: none;
    margin-right: 15px;
    opacity: 0.8;
}

.footer-menu li a {
    text-decoration: none;
    color: white;
}

.footer-menu {
    margin-right: 3vw;
}


/* index page end  /////////////////////////////////////////////////////////////////////// */





/* SENDER HTML FILE CSS CODE ///////////////////////////////////////////////////////////*/

.sender-main {
    padding: 1rem;
    margin: 2rem 5rem 2rem 5rem;
    display: grid;
    place-items: center;
    border-radius: 15px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.4);
    z-index: 1;
    background-color: rgb(255, 255, 255);
    /* justify-content: center; */
    text-align: center;

}

.sender-heading {
    font-size: 2.5rem;
    padding: 1rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: rgb(16, 14, 14);
    /* border-radius: 4px; */

}

.sender-subheading {
    margin-top: 1rem;
    font-size: 1.7rem;
    font-family: "Segoe UI", Arial, sans-serif;
    opacity: 0.7;

}


.sender-input-container {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    /* width: 35vw; */
    width: 30rem;
    justify-content: space-between;
    background-color: rgba(229, 230, 232, 0.858);
    border-radius: 5px;
}

.room-info {
    display: flex;
    flex-direction: column;
}

.roomcode-head {
    /* justify-content: left; */
    text-align: left;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0.6;
}




textarea {
    resize: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}

.code {
    font-family: "Segoe UI", Arial, sans-serif;
    opacity: 0.7;
    /* font-size: 1.5vw; */
    font-size: 1.5rem;
    text-align: left;
    background-color: transparent;
    border: 0;
}

.sender-input-container img {
    height: 3rem;
    width: 3rem;
    opacity: 0.7;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.sender-file-input {
    margin-top: 5vh;
    margin-bottom: 5vh;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.4);
    padding: 0.5rem;
    background-color: rgb(63, 60, 60);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;


}

.file-input {
    display: none;
}

.file-input-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;

    border: 2px solid white;
    border-style: dashed;
}

.file-input-label span {
    color: rgb(248, 247, 247);
    font-size: 1.5rem;
    font-family: "Segoe UI", Arial, sans-serif;
    padding: 1rem;
    font-weight: 200;
}



.file-input-label img {
    width: 64px;
    height: 64px;

}

#send-btn {
    background-color: rgba(98, 100, 102, 0.858);
    color: rgb(250, 242, 242);
    border-radius: 4px;
    border: 0;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#send-btn:hover {
    background-color: rgb(68, 69, 69);
}

#max-info {
    font-family: "Segoe UI", Arial, sans-serif;
    opacity: 0.5;
}

.message-box {
    display: grid;
    place-items: center;
}

.message {
    margin-top: 2vh;
    /* background-color: green; */
    color: white;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 15px;
    padding: 1rem;
    border-radius: 5px;
}

#mobile-span{
    display:none;
}


/* SENDER HTML FILE CSS CODE end  ///////////////////////////////////////////////////////////*/





/* RECEIVER PAGE START  //////////////////////////////////////////////////////////////////////////////// */


.receiver-main {
   
    padding: 1rem;
    margin: 2rem 7rem 2rem 7rem;
    display: grid;
    place-items: center;
    border-radius: 15px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.4);
    background-color: rgb(255, 255, 255);
    z-index: 1;
    text-align: center;
}


.receiver-heading {
    font-size: 2rem;
    padding: 1rem 1rem 0rem 1rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: rgb(16, 14, 14);
}

.receiver-subheading {
    margin-top:0.5rem;
    margin-bottom: 2vh;
    font-size: 1.5rem;
    font-family: "Segoe UI", Arial, sans-serif;
    opacity: 0.7;
}

.r-code {
    margin-top: 2vh;
    border: 0px;
    width: 25%;
    /* box-sizing: border-box; */
    margin-bottom: 5vh;
    text-align: center;
    font-size: 1.6rem;
    outline: none;
    border-bottom: 5px solid rgba(214, 215, 216, 0.858);
}

.r-code::placeholder {
    opacity: 0.5;
}

#joinBtn {
    margin-bottom: 5vh;
    padding: 0.25rem 1.5rem;
    font-size: 1.2rem;
}


.receiver-main button,
#download-btn {
    background-color: rgba(31, 32, 33, 0.858);
    color: rgb(250, 242, 242);
    border-radius: 4px;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    padding: 0.3rem;
    text-decoration: none;
    cursor: pointer;
}

.load {
    display: none;
    justify-content: baseline;
}

.load p {
    font-size: 1.2rem;
    opacity: 0.7;
}

.load img {
    height: 25px;
    opacity: 0.7;
}


/* RECEIVER PAGE END //////////////////////////////////////////////////////////////////////////////// */




/* ///////////////////////////////////////////////////////////////////////////////// */


.circles {
    z-index: -1;
    position: absolute;
    top: 10vh;
    left: 0;
   width:90%;
   height:90%;
    /* overflow-x: hidden; */
}

.circles li {
    z-index: -1;
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    background-color: #4e54c8;
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    background-color: #b11a1a;
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    background-color: #4e54c8;
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    background-color: #e97b06;
    left: 20%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    background-color: #e396e3;
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    background-color: #4c4c50;
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {

    background-color: #75c84e;
    left: 5%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    background-color: #c84ea1;
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {

    background-color: #c8714e;
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    background-color: #bac84e;
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}


@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* //////////////////////////////////////////////////////////////////////////////////// */


/* Features  /////////////////////////////////////////////////////////////////////////////////////*/

.features-heading{
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 2rem;
    opacity: 0.5;
    display: grid;
    place-items: center;
}

.features-heading div{
    border-bottom: 2px solid rgb(32, 32, 32);
    padding:1rem 0.5rem 0rem 0.5rem;
}
.container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    padding: 0vh 5vw 0vh 5vw;
    margin-bottom: 2rem;
    justify-content: center;

}


.left-content {
    flex: 0 0 50%;
    padding: 5rem 1rem 0rem 1rem;
    box-sizing: border-box;
}

.left-content p {
    font-size: 18px;
    opacity: 0.7;
    font-family: "Segoe UI", Arial, sans-serif;
    line-height: 0.7cm;
}

.heading {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 40px;
    opacity: 0.8;
}


.right-content {
    flex: 0 0 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-content img {
    width: 25rem;
    height: 25rem;
}


/*  feature code end/////////////////////////////////////////////////////////// */

/* About Code Start ///////////////////////////////////////////////////////////////////////////// */
.about-main-heading{
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 2rem;
    opacity: 0.5;
    display: grid;
    place-items: center;
}

.about-main-heading div{
    border-bottom: 2px solid rgb(32, 32, 32);
    padding:1rem 0.5rem 0rem 0.5rem;
}



.about-container {
    display: flex;
    flex-direction: row;
    margin:2rem 2rem 3rem 2rem;
    padding:1rem;
}

.about-left-content {
    width:45%;
    padding-top:0rem;
}

.about-right-content {
    width:55%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.about-heading {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 2.5rem;
    opacity: 0.8;
    font-weight: 500;
}

.about-left-content p {
    font-size: 1.2rem;
    opacity: 0.7;
    font-family: "Segoe UI", Arial, sans-serif;
    line-height: 0.7cm;
}

#about-device-pic{
    width: 90%;
    padding-left: 10%;
    filter:drop-shadow(10px 12px 12px rgb(8, 5, 5)) ;
    /* box-shadow: 5px 6px 6px rgb(105, 102, 102); */
    
    /* height: 100%; */
}















.team{
    display:grid;
    place-items: center;
    margin:1rem 0rem 10rem 0rem;
}

.meet-our-team{
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 2.5rem;
    padding:1rem 2rem 1rem 2rem;
    opacity: 0.8;
    border-radius: 50px;
    border:2px solid grey;
}

.team-members{
    display: flex;
    flex-direction: row;
    gap:6.5rem;
    margin:2rem 1.2rem 2rem 1.2rem;
}

.team-members img{
    width:10rem;
}

.name{
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    padding:1rem 2rem 1rem 2rem;
    opacity: 0.8;
}





@media only screen and (max-width: 600px) {
    .BSlogo {
        font-size: 2rem;
        margin-left: 0rem;
    }

    

    .BSnavbar {
        display:block;
        text-align: center;
        z-index: 5;
    }

    .BSnavbar-menu {
        display: none;
    }

    #menu-icon {
        display: block;
        top: 2.2rem;
        left: 1rem;
        z-index: 6;
    }

    .sidenav {
        width: 0px;

    }

    .sidenav .closebtn {
        font-size: 20px;
        margin-left: 0;
    }

    .main {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
    }


    .heading {
        font-size: 2rem;
        padding: 0rem 1rem 0rem 1rem;
    }

    .subheading {
        margin-top: 1.5rem;
        font-size: 1rem;
        opacity: 0.9;
        padding: 0rem 1rem 0rem 1rem;
        line-height: 1.5;
    }

    .mainfeatures {
        margin-top: 5vh;
        margin-bottom: 0vh;

    }

    .mainfeatures li {
        display: block;
        padding: 12px;
        margin-left: -30px;
        margin-top: 4vh;

    }

    .mainfeatures li a {
        padding: 1rem;

    }


    .main-img img {
        height: 12rem;
        width: 18rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .footer {
        display: block;
        text-align: center;
        height: 3vh;
        padding-top: 1vh;
        position: relative;
    }

    .footer-menu {
        display: none;
    }


    .circles li:nth-child(1),
    .circles li:nth-child(2),
    .circles li:nth-child(3),
    .circles li:nth-child(4),
    .circles li:nth-child(5),
    .circles li:nth-child(6),
    .circles li:nth-child(7),
    .circles li:nth-child(8),
    .circles li:nth-child(9),
    .circles li:nth-child(10) {
        height: 25px;
        width: 25px;
    }



    /* SENDER FILE  START  ////////////////////////////////// */

    .sender-main {
        display: block;
        box-shadow: none;
        margin: 0rem 0rem 1rem 0rem;
        padding: 2rem;
    }

    .sender-heading {
        font-size: 2rem;
        /* margin-top:0rem; */
    }

    .sender-subheading {
        font-size: 1.2rem;
        opacity: 0.8;
        margin-top: 0rem;
    }



    .sender-input-container {
        text-align: center;
        width: 95%;
        margin: 2rem 0.2rem 1rem 0.2rem;
    }


    .roomcode-head {
        font-size: 1rem;
        opacity: 0.8;
    }

    .code {
        opacity: 0.8;
        font-size: 1rem;
    }

    .sender-input-container img {
        padding-top: 0rem;
        padding-bottom: 0rem;
        height: 3rem;
        width: 3rem;

    }

    .file-input {
        display: none;
    }

    .file-input-label span {
        font-size: 1.3rem;
        padding: 2.5vh 3vw 2.5vh 3vw;
        font-weight: 300;
    }

    .file-input-label img {
        width: 64px;
        height: 64px;
        padding-top: 0.5vh;
    }

    #pc-span{
        display:none;
    }
    #mobile-span{
        display:block;
    }


    /* SENDER FILE END/////////////////////////////////////////////////////////////// */



    

    /* RECEIVER START ///////////////////////////////////////////////////////////// */

    .receiver-main {
        margin: 1rem 0rem 1rem 0rem;
        padding: 2rem;
        box-shadow: none;
    }

    .receiver-heading {
        font-size: 2rem;
        padding: 0rem;
    }


    .receiver-subheading {
        font-size: 1.2rem;
        margin-top:1.5rem;

    }

    .r-code {
        width: 50%;
        padding: 0% 0% 0% 4%;
        font-size: 1.3rem;
        margin-top:1.3rem;
    }

    #joinBtn {
        margin-bottom: 5vh;
        padding: 0.25rem 1.5rem;
        font-size: 1rem;
    }
/* RECEIVER END ///////////////////////////////////////////////////////////// */








    /* Feature START ///////////////////////////////////////////////// */
    .features-heading{
        margin-top:1rem;
        margin-bottom:2rem;
        font-size: 1.8rem;
        opacity: 0.8;
    }

    .container .right-content img {
        display: none;

    }

    .container {
        display: block;
        /* flex-direction: column; */
        margin-top: 1rem;
        margin-bottom: 1rem;
    }



    .left-content {
        flex: 100%;
        padding: 0rem 0rem 0rem 0rem;
    }

    .right-content {
        padding: 0px;
    }


    .heading {
        font-size: 30px;
        opacity: 1;
        text-align: center;
    }

    .left-content p {
        text-align: justify;
        padding:0rem 1rem 0rem 1rem;

    }

  
/*feature END  ////////////////////////////////////////////////////////////////////////////////////// */

/* About code start ///////////////////////////////////////////////////////////////////////// */

.about-main-heading{
    font-size: 1.8rem;
    opacity: 0.8;
    margin-top:2rem;
}

.about-container {
    display: block;
    text-align: center;
    margin:2rem 0rem 2rem 0rem;
    padding:0rem;
    
}

.about-left-content {
    width:100%;
}

.about-heading {
    padding:0rem 1.7rem 0rem 1.7rem;
    font-size: 2rem;
    opacity: 0.8; 
}

#about-p{
    text-align: center;
    padding:0rem 2rem 0rem 2rem;
}

.about-right-content {
    width:0%;
    display: none;
    
}

.about-container .about-right-content img {
    display: none;
}

.team{
    display:block;
    text-align: center;
}

.meet-our-team{
    font-size: 1.5rem;
    padding: 2px;
    border:none;
    opacity:0.8;
    font-weight: 500;
}

.team-members{
    display: flex;
    flex-direction: column;
    gap:2rem;
    margin:1rem 1rem 2rem 1rem;
}

.team-members img{
    width:8rem;
    filter:drop-shadow(5px 6px 6px grey) ;
}
.member{
   background-color: #e6e2e2d6;
   padding:1rem 1rem 1rem 1rem;
   margin:1rem 2rem 1rem 2rem;
}

.name{

    font-size: 1.5rem;
    padding:1rem 2rem 0rem 2rem;
    opacity: 0.8;
}


/* about code end//////////////////////////////////////////////////////////////////////////// */

}

